<html>
<body>
<form action="{{url_for('predict_datapoint')}}" method="POST">
    <div class="form-group">
        <label for="po_/_so_#">po_/_so_#:</label>
        <input type="text" id="po_/_so_#" name="po_/_so_#" placeholder="Enter po_/_so_# value ">
    </div>

    <div class="form-group">
        <label for="asn/dn_#">asn/dn_#:</label>
        <input type="text" id="asn/dn_#" name="asn/dn_#" placeholder="Enter asn/dn_# value ">
    </div>

    <div class="form-group">  
        <label for="country">country:</label>
        <input type="text" id="country" name="country" placeholder="Enter country value ">
    </div>
    
    <div class="form-group">
        <label for="fulfill_via">fulfill_via:</label>
        <input type="text" id="fulfill_via" name="fulfill_via" placeholder="Enter fulfill_via value">
    </div>
  
    <div class="form-group">
        <label for="vendor_inco_term">y:</label>
        <input type="text" id="vendor_inco_term" name="vendor_inco_term" placeholder="Enter vendor_inco_term value">
    </div>
  
    <div class="form-group">
        <label for="shipment_mode">shipment_mode:</label>
        <input type="text" id="shipment_mode" name="shipment_mode" placeholder="Enter shipment_mode value">
    </div>    
    
    <div class="form-group">
        <label for="sub_classification">sub_classification:</label>
        <input type="text" id="sub_classification" name="sub_classification" placeholder="Enter sub_classification value">
    </div>  

    <div class="form-group">
        <label for="vendor">vendor:</label>
        <input type="text" id="vendor" name="vendor" placeholder="Enter vendor value">
    </div>  

    <div class="form-group">
        <label for="brand">brand:</label>
        <input type="text" id="brand" name="brand" placeholder="Enter brand value">
    </div>  

    <div class="form-group">
        <label for="unit_of_measure">unit_of_measure:</label>
        <input type="text" id="unit_of_measure" name="unit_of_measure" placeholder="Enter unit_of_measure value">
    </div>  

    <div class="form-group">
        <label for="line_item_quality">line_item_quality:</label>
        <input type="text" id="line_item_quality" name="line_item_quality" placeholder="Enter line_item_quality value">
    </div>

    <div class="form-group">
        <label for="pack_price">pack_price:</label>
        <input type="text" id="pack_price" name="pack_price" placeholder="Enter pack_price value">
    </div>

    <div class="form-group">
        <label for="unit_price">unit_price:</label>
        <input type="text" id="unit_price" name="unit_price" placeholder="Enter unit_price value">
    </div>

    <div class="form-group">
        <label for="line_item_value">line_item_value:</label>
        <input type="text" id="line_item_value" name="line_item_value" placeholder="Enter line_item_value value">
    </div>

    <div class="form-group">
        <label for="manufacturing_site">manufacturing_site:</label>
        <input type="text" id="manufacturing_site" name="manufacturing_site" placeholder="Enter manufacturing_site value">
    </div>
    
    <div class="form-group">
        <label for="first_line_designation">first_line_designation:</label>
        <input type="text" id="first_line_designation" name="first_line_designation" placeholder="Enter first_line_designation value">
    </div>    
    
    <div class="form-group">
        <label for="freight_cost_">freight_cost_:</label>
        <input type="text" id="freight_cost_" name="freight_cost_" placeholder="Enter freight_cost_ value">
    </div>    

    <div class="form-group">
        <label for="line_item_insurance_">line_item_insurance_:</label>
        <input type="text" id="line_item_insurance_" name="line_item_insurance_" placeholder="Enter line_item_insurance_ value">
    </div>  

    <div class="form-group">
        <label for="days_to_process">days_to_process:</label>
        <input type="text" id="days_to_process" name="days_to_process" placeholder="Enter days_to_process value">
    </div>    


<div style="clear:both;"></div>
  <input type="submit" value="Submit">
</form>
</body>
</html>